<a href="https://colab.research.google.com/github/edenlum/projecteuler/blob/main/19_Counting_Sundays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://projecteuler.net/problem=19


<p>You are given the following information, but you may prefer to do some research for yourself.</p>
<ul><li>1 Jan 1900 was a Monday.</li>
<li>Thirty days has September,<br />
April, June and November.<br />
All the rest have thirty-one,<br />
Saving February alone,<br />
Which has twenty-eight, rain or shine.<br />
And on leap years, twenty-nine.</li>
<li>A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.</li>
</ul><p>How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?</p>

In [11]:
def days_in_month(month, year):
    if month in [1, 3, 5, 7, 8, 10, 12]:
        return 31
    if month in [4, 6, 9, 11]:
        return 30
    if month == 2:
        if year % 400 == 0:
            return 29
        if year % 100 == 0:
            return 28
        if year % 4 == 0:
            return 29
        else:
            return 28

In [15]:
# Let's go over all the first of the months and calculate if they were a sunday or not
cur_day_of_week = 2 # start from tuesday (Jan 1st 1901 was tuesday) - sunday = 0
# if we want to add N days we do day += N % 7
sum = 0
cur_year = 1901
while (cur_year < 2001):
    cur_month = 1
    while (cur_month < 13):
        if cur_day_of_week == 0:
            sum += 1
            print(cur_month, cur_year)
        cur_day_of_week = (cur_day_of_week + days_in_month(cur_month, cur_year)) % 7
        cur_month += 1
    cur_year += 1
sum

9 1901
12 1901
6 1902
2 1903
3 1903
11 1903
5 1904
1 1905
10 1905
4 1906
7 1906
9 1907
12 1907
3 1908
11 1908
8 1909
5 1910
1 1911
10 1911
9 1912
12 1912
6 1913
2 1914
3 1914
11 1914
8 1915
10 1916
4 1917
7 1917
9 1918
12 1918
6 1919
2 1920
8 1920
5 1921
1 1922
10 1922
4 1923
7 1923
6 1924
2 1925
3 1925
11 1925
8 1926
5 1927
1 1928
4 1928
7 1928
9 1929
12 1929
6 1930
2 1931
3 1931
11 1931
5 1932
1 1933
10 1933
4 1934
7 1934
9 1935
12 1935
3 1936
11 1936
8 1937
5 1938
1 1939
10 1939
9 1940
12 1940
6 1941
2 1942
3 1942
11 1942
8 1943
10 1944
4 1945
7 1945
9 1946
12 1946
6 1947
2 1948
8 1948
5 1949
1 1950
10 1950
4 1951
7 1951
6 1952
2 1953
3 1953
11 1953
8 1954
5 1955
1 1956
4 1956
7 1956
9 1957
12 1957
6 1958
2 1959
3 1959
11 1959
5 1960
1 1961
10 1961
4 1962
7 1962
9 1963
12 1963
3 1964
11 1964
8 1965
5 1966
1 1967
10 1967
9 1968
12 1968
6 1969
2 1970
3 1970
11 1970
8 1971
10 1972
4 1973
7 1973
9 1974
12 1974
6 1975
2 1976
8 1976
5 1977
1 1978
10 1978
4 1979
7 1979
6 1980
2 1981
3 1981
11 1981
8 1982
5 1983
1 1984
4 1984
7 1984
9 1985
12 1985
6 1986
2 1987
3 1987
11 1987
5 1988
1 1989
10 1989
4 1990
7 1990
9 1991
12 1991
3 1992
11 1992
8 1993
5 1994
1 1995
10 1995
9 1996
12 1996
6 1997
2 1998
3 1998
11 1998
8 1999
10 2000

171