<a href="https://colab.research.google.com/github/edenlum/projecteuler/blob/main/Multiplesof3or5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://projecteuler.net/problem=1

To sum all of the multiples of 3, we first count how many of them are there $1000/3 = 333.3 \to $ there are 333.

$3 + 6 + ... + 999 = 3(1 + 2 + ... + 333) = 3 \frac{333 \cdot 334}{2}$

Similarly,

$5 + 10 + ... + 995 = 5\frac{199 \cdot 200}{2}

Notice we count multiples of 15 twice so we need to subtract

$15 \frac {66\cdot 67}{2}$


*We use $\sum_{i=1}^{n} i = \frac{n(n+1)}{2}$

In [ ]:
sum3 = 333*334/2 * 3
sum5 = 199*200/2 * 5
sum15 = 66*67/2 * 15
print(sum3 + sum5 - sum15)

233168.0